
<div>
 <!-- Carousel -->
    <div class="carousel slide">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides">
        <img ng-src="{{slide.path}}" style="margin:auto; width:100%;"  active="slide.active" class="img-responsive">
        <div class="carousel-caption">
          <h1>{{slide.caption}}</h1>
        </div>
      </slide>
    </carousel>
  </div>
  </div>

  <div class="container">
   <!-- <div class="row">
    <div class="col-sm-3 col-md-6 product" ng-repeat="value in values">  <img ng-src="{{value.path}}" class="product" active="slide.active">{{value.caption}}</div>
  </div> -->
  <div class="row">
     <div class="col-md-4" ng-repeat="value in values"> 
      <div class="product">
       <img ng-src="{{value.path}}" class=""  active="slide.active">
       <span>{{value.caption}}</span>
       <span>{{value.price | currency}}</span>
     </div>
   </div>
  </div>
</div>
    
