
 
        <div class="modal-header">
            <h3 class="modal-title">Log In</h3>
        </div>
        <div class="modal-body">
           <span>Username</span> 
           <input type='text' class="form-control"  />
           <br />
           <span>Password</span> 
           <input type='password' class="form-control" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
