

     	<div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Sign Up</strong></h3>
        </div>
        

        <div class="panel-content">
			<div class="row">
			  <form role="form" action="" method="post" >
			    <div class="col-lg-12">
			    
			      <div class="form-group">
			        <label for="InputName">Name: <span class="required">*</span></label>
			          <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
			      </div>
			      <div class="form-group">
			        <label for="InputName">Username: <span class="required">*</span></label>
			          <input type="text" class="form-control" name="InputUsrName" id="InputUsrName" placeholder="Enter Username" required>
			      </div>

			      <div class="form-group">
			        <label for="InputName">Password: <span class="required">*</span></label>
			          <input type="password" class="form-control" name="Password" id="Password" placeholder="Enter Password" required>
			      </div>
			      <div class="form-group">
			        <label for="InputName">Confirm Password: <span class="required">*</span></label>
			          <input type="password" class="form-control" name="ConfirmPswd" id="ConfirmPswd" placeholder="Confirm Password" required>
			      </div>
			      <div class="form-group">
			        <label for="InputEmail">Email Id: <span class="required">*</span></label>
			          <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email id" required  >
			      </div>
			      <div class="form-group">
			        <label for="InputEmail">Confirm Email Id: <span class="required">*</span></label>
			          <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Confirm Email id" required  >
			      </div>
			   
			      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
			    </div>
			  </form>
			</div>

			</div>


      </div>