/*Styles*/
/* header */
/*header{background: url(../images/veggies2.jpg) top center no-repeat; display: block; min-height: 30em; background-size: 100%;}*/
/* navigation */
.navbar-fixed-top{background-color:rgba(143,196,0,0.6); position: relative;  box-shadow: 4px 3px 9px 0px #ddd;}
.navbar-default .navbar-nav>li>a{color: #333;font-weight: bold;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover{
	background-color: rgba(143,196,0,0.8); color: #fff;
	-webkit-transition-duration:0.6s;
	-moz-transition-duration:0.6s;
	-o-transition-duration:0.6s;
	-ms-transition-duration:0.6s;
	transition-duration:0.6s;
}
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}
/*container */
.container{width:100%;display: inline-block;}
/*carousel*/
.carousel.slide{position: relative; background: #fff;}
.carousel-inner>.item>img, .carousel-inner>.item>a>img{height:25em;}
/*.left carousel-control, .right carousel-control{background-color: #eee;}*/
/*Login Modal*/
.modal.in .modal-dialog{
	-webkit-transform: translate3d(0,50%,0);
	-moz-transform: translate3d(0,50%,0);
    -o-transform: translate3d(0,50%,0);
    -ms-o-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);}
/*footer*/
footer{ padding:1em 0.1em;position: relative; color: #333; border-top: 1px solid #bbb;margin-top: 1em;}

/* searchbox */
.searchbox{
	height:auto;
	width:100%;
}
/* product */
.product{height: 20em; border-right: 1px solid #eee; border-bottom: 1px solid #eee; margin-top: 1em;  box-shadow: 4px 3px 9px 0px #ddd;}
.product img{width: 100%; max-height: 90%;margin-bottom: 0.2em;}
.product span{margin: 1em;}
/* form input */
.input-group{width: 100%;}
/* panels */
.panel{ box-shadow: 1px 2px 7px 1px #ddd; border-radius: 0;}
.panel-title{padding-bottom: 1em;border-bottom: 1px solid #ddd;}
.panel-content{padding: 15px;}
/* special offer */
.offers{display: inline-block;border-right: 1px solid #ddd;height:25em;}
